<html>
    <link rel="stylesheet" href="../css/search.css">
    <div class="logo">
        <img src="../img/logo.png" alt="logo de l'application" class="logo">
    </div>
    <div class="text">
        <p>Explorez vos propre données sous forme de graphique !</p>
        <p>Pour commencer, entrer votre première recherche à partir d'un nom d'auteur ou d'un mot clé</p>
    </div>
    <nav class="navbar">
        <input class="input" type="search" id="site-search" name="q" minlength="4"
            placeholder="Entrez votre recherche" 
        />
        <button onclick="desactiverBouton('auteur', 'sujet')" id="auteur">Par auteur</button>
        <button onclick="desactiverBouton('sujet', 'auteur')" id="sujet">Par sujet</button>
        <button id="search-btn">Rechercher</button>
    </nav>

    <div id="result"></div>

    <script>
        // Fonction pour désactiver un bouton et activer l'autre
        function desactiverBouton(idBoutonADesactiver, idBoutonAActiver) {
            const boutonADesactiver = document.getElementById(idBoutonADesactiver);
            const boutonAActiver = document.getElementById(idBoutonAActiver);

            // Désactiver le bouton sélectionné
            if (boutonADesactiver) {
                boutonADesactiver.disabled = true;
                boutonADesactiver.style.backgroundColor = "white"; // Indique visuellement qu'il est désactivé
                boutonADesactiver.style.color = "#166F7A"; // Indique visuellement qu'il est désactivé
            }

            // Activer l'autre bouton
            if (boutonAActiver) {
                boutonAActiver.disabled = false;
                boutonAActiver.style.backgroundColor = "#166F7A"; // Indique visuellement qu'il est désactivé
                boutonAActiver.style.color = "white"; // Indique visuellement qu'il est désactivé
            }
        }

        // Fonction pour afficher le résultat
        function afficherResultat() {
            filtre = "";
            if(document.getElementById('auteur').disabled == true){
                filtre = "auteurs";
            }
            else{
                filtre = "sujets";
            }
            const inputValue = document.getElementById('site-search').value;
            document.getElementById('result').innerHTML = "Résultat sur les " + filtre + " :" + inputValue;
        }

        // Écouter le clic sur le bouton "Rechercher"
        document.getElementById('search-btn').addEventListener('click', afficherResultat);

        // Écouter la touche "Entrée" dans l'input
        document.getElementById('site-search').addEventListener('keypress', function(event) {
            if (event.key === "Enter") {
                event.preventDefault(); // Empêche la soumission du formulaire si nécessaire
                afficherResultat();
            }
        });
    </script>
</html>
